h1,a{
    font-size: 30px;
    color:#FF00FF;
    background-color:#9400D3;
    border-radius:30px;
    text-decoration: none;
    text-align: center;
    padding:5px;

}
#id1 {
    height: 700px;
    background-color: rgba(74, 250, 0, 0.23);
    margin:20px;
    padding:10px;
    border-radius: 20px;
    color: #9932CC;
    font-size: 20PX;
}
span{
    font-size: 30px;
    color: #FF1493;
}
img{
    border-radius: 30px;
}
